.more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  color: black;
  width: 50%;
  background-color: #c6c6c6;
  text-align: center;
}

.option-list {
  border-top: 1px solid black;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}
