.profile-pic {
  border-radius: 20px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.profile-input {
  border-radius: 10px;
  width: 80%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
