@media (max-width: 770px) {
  .signup-img {
    width: 50%;
  }
}

.signup-img {
  width: 100%;
}

.signup-container {
  background-color: white;
  border-radius: 15px;
  width: 80%;
}
